body{
	font-size: 0;
	background: url(../img/body_bg.jpg);
	background-attachment: fixed;
	margin: 0;
}

header, nav, section, footer{
	font-size: 14px;
}

header{
	background: lightblue;
	height: 100px;
	font-size: 56px;
	text-align: center;
	color: blue;
	padding-top: 30px;
}

aside, section{
	display: inline-block;
	vertical-align: top;
}

aside{
	width: 20%;
}

aside nav.vertical{
	display: grid;
	grid-template-columns: 1fr;
}

aside nav.vertical a{
	background: blue;
	width: 100%;
	margin-top: 3px;
}

nav{
	background: violet;
	width: 20%;
}

nav.menu{
	width: 100%;
	background: none;
	font-size: 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

nav.menu a{
	font-size: 26px;
	height: 30px;

	border-radius: 0px;
	text-align: center;
	color: white;
	text-decoration: none;
	background: red;
}

nav.menu a:hover{
	background: green;
	color: yellow;
}

nav.menu a.active{
	background: yellow;
	color: black;
}

section {
	margin-left: 1%;
	background: gray;
	padding: 5%;
	width: 69%;
	border-radius: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
}

article{
	background: blue;
	margin-top: 20px;
}

footer {
	background: pink;
		height: 100px;
}

.rounded{
	border-radius: 
}

section#home{
	font-size: 16px;
	background: rgba(255, 255, 255, 0.9);
}


section#news article{
	background: white;
	display: grid;
	grid-template-columns: 1fr 4fr;
	padding: 10px;
	border-radius: 5px;
}

section#news article img, 
section#news article h2, 
section#news article p, 
section#news article a{
	/*outline: 1px solid red;*/
}

section#news img{
	height: 100px;
}

section#news article div{
	text-align: right;
}

section#news article h2, 
section#news article p{
	text-align: justify;
}


#photos img{
	width: 150px;
	height: 200px;
	border: 1px solid black;
	border-radius: 5px;
}

#photos ul{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	list-style: none;
}

#video ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	grid-gap: 10px;
}

#video ul iframe{
	width:400px;
	height: 300px;
}


@media screen and (max-width: 800px){

	body{
		background: none;
	}

	aside{
		display: none;
	}

	section{
		width: 100%;
	}

	#video ul{
		display: grid;
		grid-template-columns: 1fr;
		list-style: none;
		grid-gap: 10px;
	}

	#video ul iframe{
		width:400px;
		height: 300px;
	}
}